*{
    padding: 0%;
    margin: 0%;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

/*----------------------------------home-------------------------------------------- */

.home-container{
  width:100%;
  height: 100%;
  display: flex;
}

.git-logo{
  width: 20%;
  height: 80%;
}

.icon-logo{
  width: 20%;
  margin-top: 16%;
  display: flex;
  flex-direction: column;
}

.icon1{
  margin: 0% 0% 10% 30%;
}

.icon2{
  width:120%;
  height: 20%;
  padding-left: 25%;
}

.header{
    display: flex;
    justify-content: flex-end;
    margin: 2%; 
}

.header-name{
  position: fixed;
}

.header-name1{
  padding-right: 700px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    margin-right: 8%; 
}

.navbar1{ 
  text-decoration: none;
  position: fixed; 
  color: black;
}

.navbar1:hover{
  color: purple;
}

.home-content{
  width: 30%; 
  padding: 15% 20% 0% 0%;
}

.name00{
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name01{
    margin-bottom: 5%;
    margin-top: 5%;
    color: purple;
    font-size: 20px;
}

.name02{
    color: gray;
}

.home-image{
     display: flex;
    justify-content: flex-end; 
}

.image-profile{
    width: 30vw;
    height:55vh;
    margin-top:35%; 
    margin-right: 20%;
    border-radius: 200px;
    box-sizing: border-box;
    border:8px  solid ;
    border-color: gray;    
}
.image-profile:hover{
  border: 10px solid purple;
}

.button-name{
  text-decoration: none;
  color: white;
}

.say-hello{
    width: 120px;
    height: 45px;
    margin-top: 8%;
    margin-left: 10%;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 50px 50px 50px 0px; 
}

.say-hello:hover{
  opacity: 0.8;
}

/* -----------------------------------About---------------------------------------- */

.about-container{
  width: 100%;
  height: 100%;
  margin-top: 10%;
  display: flex;
}

.name2{
    padding-bottom: 5%;
    color: purple;
    font-size: 43px;
}

.name20{
  padding-bottom: 10%;
  font-size: 15px;
}

.about-content{
    width: 50%; 
    margin: 12% 0% 0% 15%;
    text-align: center; 
    padding-bottom: 10%; 
}

.about-content1{
  color: gray;
}

.download{
    width: 150px;
    height: 40px;
    margin-top: 10%;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 50px 50px 50px 0px;  
}

.download-link{
  text-decoration: none;
  color: white;
}

.download:hover{
   opacity: 0.8;
}

.about-photo1{
    width: 55%;
    height: 77%;
    margin: 15% 0% 0% 30%;
    border-radius: 40px;
}

/* -----------------------------------Skill----------------------------------------- */

.skill-container{
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.img-content{
  margin-left: 17%;
}

.name3{
    text-align: center;
    margin-bottom: 5%;
    color: purple;
    font-size: 50px;
}

.skill-content{
  margin-left: 20%;
  color: purple;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
}

.skill-name{
  margin-right: 12%;
}

.skill-name00{
  margin-left: 5%;
}

.skill-name000{
  margin-right: 8%;
  margin-left: 2%;
}
/* ------------------------------------contact------------------------------------- */

.contact-container{
    width: 100%;
    height: 100%;
    padding-top: 90px;
    margin-top:20%;
    display: flex; 
}

.logo-contact{
    width: 50%;
}

.sumbit-form{
  text-align: center;
}

.contact-content{
    margin: 0% 10% 8% 0%;
    width: 50%;
    height: 40%; 
    box-sizing: border-box;
    border-style: solid ;
    border-color: purple; 
    border-radius: 30px;
    padding: 5%;
    background-color: aliceblue;
  }

  .submit-logo{
    color: purple;
    margin: 0% 0% 15% 0%;
  }

  .form-fill{
    margin: 0% 0% 10% 0%;  
  }

  .logo-heading{
    margin: 0% 0% 5% 30%;
    color: purple;
    font-size: 30px;
  }
  
  .logo-img{
    width: 85%;
    height: 60%;
    margin-left: 10%;
    border-radius: 50px;
  }

  .logo-img:hover{
    border: 1px solid purple;
  }

  .form-button{
    width: 10vw;
    height: 6vh;
    margin-top: 7%;
    background-color: purple;
    border-radius: 7px;
    color: white;
    font-size: 13px;
  }

  .form-button:hover{
    opacity: 0.9;
  }

  #textarea{
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
  }

.text-box{
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
}

.button-link22{
  text-decoration: none;
  color: white;
}

/* -----------------------------------footer-------------------------------------- */

.footer-container{
  width: 100%;
  height: 20vh;
  background-color: aliceblue;
}

.footer-content{
  text-align: center;
}

.footer-name{
  padding-top: 2%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-logo{
  padding-left: 42%;
  margin-top: 2%;
}

.icon3{
  width: 5%;
  height: 5%;
  margin-right: 5%; 
}

.last-line{
  margin-left: 35%;
  margin-top: 1%;
}

/* --------------------------------------------------------------------------------- */


                     @media screen and (max-width:600px){

  *{
    padding: 0%;
    margin: 0%; 
  }

  .header{
    margin-top: 5%;
    z-index: 10;
    background-color: rgb(223, 197, 197);

  }

  .header-name{
    display: none;
  }

  .navbar{
    margin-right: 23%;
    z-index: 10;

  }

  .icon-logo{
  display: none;
  }

.home-content{
  width: 70%;
  margin-left: 20%;
}

.image-profile{
  width:200px;
  position: relative;
  height: 200px;
  top: 0;
  left: 120px;
}

.home-container{
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.about-container{
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-photo{
  width: 140vw;
  
  position: relative;
  left: 0%;
}


  



}
